.btn{
  color: $clr-red;
  background-color: $clr-white;

  font-size: 1rem;
  font-weight: $font-weight-middle;

  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  &:hover{
    color: $clr-white;
    background-color: $clr-red;
  }
}