@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,560;0,700;0,850;0,900;1,300;1,400;1,500;1,560;1,700;1,850;1,900&display=swap");

$clr-red: #C43963;
$clr-pink: #df7e9b;
$clr-blue: #1F2573;
$clr-white: #F7F7F7;
$clr-black: #000000;
$clr-purple: #4F2867;

$font-family-general: "Raleway", sans-serif;
$font-weight-normal: 500;
$font-weight-middle: 700;
$font-weight-bold: 700;